<body>
<div class="container">
  <div class="card">
    <h1>GoodDeedsHub</h1>
    <form>
      <input type="email" placeholder="Email or phone" required>
      <input type="password" placeholder="Password" required>
      <a [routerLink]="['../profile']"><button type="submit">Log In</button></a>
      <a href="#">Forgotten account?</a>
      <div class="line"></div>
      <a [routerLink]="['../signup']"><button type="button" class="create-account" >Create New Account</button></a>
    </form>
  </div>
</div>
</body>
